@import './variables.less';
.common-search-form{
    padding: 15px 20px 0 20px;
    .ant-form-item{
        margin-bottom: 10px;
    }
}




.common-table-action{
    padding: 10px 0px;
    background: @main-bg-gray;

}
